datasets
erniebot
gradio==3.50.2
itemadapter
jsonlines
langchain
langdetect
numpy==1.23.4
openai==0.27.8
peft==0.4.0
Scrapy==2.11.0
selenium==4.14.0
tiktoken==0.3.3
torch
tqdm==4.65.0
transformers==4.31.0
websocket_client==1.6.1
zhipuai==1.0.7
